.order {
  &__addWrapp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    outline: none;

    color: #000;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;

    &:hover {
      color: #838383;
    }
  }

  &__orderList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    overflow-x: auto;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #eee;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 3px;
    border: 1px solid rgb(222, 222, 222);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    position: relative;
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;

    font-size: 16px;
    color: #484848;

    &.deleting {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  &__itemInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    width: 100%;
    max-width: 300px;
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__date {
    width: 100px;
    white-space: nowrap;
  }

  &__linkList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  &__listImg {
    display: block;
    border-radius: 50%;
    border: 1px solid rgb(158, 158, 158);
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  &__prodNumber {
    font-weight: 600;
  }

  &__prodTitle {
    font-size: 13px;
    font-weight: 600;
    color: #a1a1a1;
  }
}
