.date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
