.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: transparent;
  z-index: 9999;
}

.bar {
  height: 100%;
  width: 30%;
  background: rgb(106, 130, 144);
  animation: loading 0.8s infinite ease-in-out;
}

@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
